// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$purple: #351c75;

@font-face {
  font-family: "Publica Reg";
  src: font-url("PublicaPlay-Regular.otf") format("truetype");
}

.alert {
  position: absolute;
}
.notice {
  position: absolute;
}


body {
  font-family: publica reg;
  background-color: $purple;
  color: #333;
}

.navbar {
  padding: 0px 4%;
}

.devise-container {
  .header {
    display: table;
    margin: auto;
    margin-bottom: 20px;
  }
  padding: 30px 11%;
  background: white;
  width: 80%;
  display: table;
  margin: auto;
  border-radius: 5px;
}
nav {
  background: white;
}
.btn-primary {
  display: table;
  margin: auto;
}

.results {
  width: 90%;
  background: white;
  border-radius: 5px;
  display: table;
  margin: auto;
  padding: 30px 10%;
  overflow: hidden;
}
.heading {
  font-size: 25px;
  display: table;
  margin: auto;
  margin-bottom: 30px;
}
.complete {
  img {
    max-width: 80%;
    display: table;
    margin: auto;
    border-radius: 10px;
  }
}
.information {
  padding: 10px;
  font-size: 20px;
  .info-item {
    line-height: 35px;
    .label{
      font-size: 22px;
    }
  }
}
.row {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-right {
  display: inline-block;
  float: right;
}
.navbar {
  border-radius: 0px;
}
.divider {
  border-bottom: dashed 2px;
  position: relative;
  width: 1000%;
  left: -200%;
}


.field-holder {
  display:  table;
  margin: auto;
  background:  #333;
  padding: 7%;
  border: solid 3px white;
  border-radius: 11px;
  margin-bottom: 30px;
  h3 {
    display: table;
    margin: auto;
    color: white;
    margin-bottom: 30px;

  }
  .shorten {
    display: table;
    margin: auto;
    font-size: 18px;
    margin-top: 20px;
  }
  .table {
    color: white;
  }

}

.input-group {
  min-width: 500px;
  @media(max-width: 646px) {
    min-width: auto;
  }
}

.copied {
  position: absolute;
  top: 95px;
  padding: 4px 10px;
  font-size: 22px;
  color: #333;
  background: white;
  border: solid $purple 6px;
  border-radius: 12px;
  display: none;
}
