<div class="notification">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>  alert-dismissable">
      <button type="button" class="close close-notification" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong><%= msg %></strong>
    </div>
  <% end %>
</div>
